@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.lato {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lato-700{
  font-family: "Lato", sans-serif;
  font-weight: 700; 
  font-style: normal;
}
body {
  scroll-behavior: smooth;
}

/* Change the color of the navigation arrows */
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: white !important; /* Change to your desired color */
}

/* Additional custom styles for navigation arrows (optional) */
.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
  font-size: 20px !important; /* Adjust the size of the arrows */
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: white !important; /* Change to your desired active color */
}

.form-container::-webkit-scrollbar {
  display:none;
  width: 0px; /* Adjust the width as needed */
}

/* Track */
.form-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
.form-container::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; /* Optional: to make the scrollbar rounded */
}

/* Handle on hover */
.form-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.hideScrollbar {
  scrollbar-width: 1px; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hideScrollbar::-webkit-scrollbar {
  display:none;
  width: 0px; /* Adjust the width as needed */
}

.hideScrollbar:-webkit-scrollbar-thumb  {
  background: #888; 
  border-radius: 10px; /* Optional: to make the scrollbar rounded */
}




.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}


::-webkit-scrollbar {
  width: 4px; /* Set the width to a minimum */
}

/* Targeting the track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Optional: Set the background color */
}

/* Targeting the thumb (scrollbar handle) */
::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar handle */
  border-radius: 10px; /* Optional: Add border-radius for a rounded effect */
}

/* Targeting the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Optional: Change color on hover */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}